<header class="bg-white boreder-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      
    <!-- Left: App Name -->
    <div class="flex items-center space-x-4">
      <span class="text-xl font-bold text-gray-900">
        AsyncMeet
      </span>

      <% if current_user && current_user.organizations.any? %>
        <%= turbo_frame_tag "organization_switcher", class: "ml-4 px-2 py-1 bg-gray-100 text-sm rounded-lg" do %>
          <%= render "organizations/switcher" %>
        <% end %>
      <% end %>
      </div>
      

      <!-- Right: User Menu -->
      <div>
        <span class="text-sm text-gray-600">
          Signed in as <%= current_user.email %>
        </span>
        <%= button_to "Logout",
      logout_path,
      method: :delete,
      data: { turbo: false },
      form: { class: "inline" },
      class: "text-sm text-red-600 hover:text-red-800 bg-transparent border-0 p-0 font-medium cursor-pointer" %>
      </div>
    </div>
  </div>
</header>
